// COLORS
$col-main: #340f0f;
$col-secondary: #3d98a8;
$col-ternary: #ce3B28;
$col-gray: #999;
$col-accent: #fcd965;
$col-accent-light: #ea9899;

$bg-gradient: linear-gradient(170deg, rgba(252,217,101,.1) 30.88%, rgba(247,218,209,1) 102.86%);
$bg-gradient-trans: linear-gradient(90deg, rgba(153,144,0,0) 0%, rgba(153,153,153,0.25) 50%, rgba(172,83,142,0) 100%);

// SHADOW
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// TRANSITION
$trans: .4s ease-in-out;