.main-header {
  @include flex-center;
  position: relative;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: $col-accent;
  box-shadow: $shadow;
  z-index: 10;
}

.main-header__title {
  color: $col-main;
}

.main-header__icon {
  margin-left: .5rem;
}